<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play RPS {{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/rps">Home</a></li>
                <li><a href="/rps/pvp">Play PvP</a></li>
                <li><a href="rps/pvc">Play PvC</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <h5>RPS DeGoole</h5>
    </footer>
</body>
</html>